<div class="center-form">

    <div class="product-container">
        <div class="product-row" *ngFor="let product of products">
            <nz-card style="width: 300px; margin: 16px;" [nzActions]="[actionEdit]">
                <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{size:'large'}">
                <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{product.name}}" nzDescription="Type: {{product.type}}"></nz-card-meta>
                <nz-card-meta style="margin-left: 53px;"  nzDescription="Price: {{product.price}}"></nz-card-meta>
            </nz-skeleton>
            </nz-card>

            <ng-template #avatarTemplate>
                <nz-avatar nzSize="large" nzIcon="user">

                </nz-avatar>
            </ng-template>
            <ng-template #actionEdit>
                <span nz-icon nzType="check-square" [nzTheme]="'twotone'" class="icon" (click)="showModalMiddle(product.id)">

                </span>
            </ng-template>



        </div>
    </div>

    <div class="pagination">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="1" (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </div>
</div> 

<nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="Book Product" nzCentered (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
    <ng-container *nzModalContent>
        <div class="modal-content">
            <nz-range-picker style="width: 100%;" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>

        </div>
        

    </ng-container>
</nz-modal>

